.container{
  margin:auto;
  text-align:left;
  font-family: 'Ubuntu', sans-serif;
}

.heading1{
  font-size: 150px;
  color: rgb(255, 167, 38);
}

.body1{
  font-size: 5vw;
  margin-top: 1vh;
  color: rgb(117, 117, 117);
}
