.container{
  margin: auto;
  margin-top: 9vh;
  height: 300;
  width: 70%;
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

.heading1{
  font-size: 13vw;
  color: Salmon;
  margin-bottom: 1vh;
  margin: inherit;
}

.body1{
  font-size: 5vw;
  margin-top: 1vh;
  color: dimGray;
}
