.NavStyle {
  width: 100%;
  margin: auto;
  align-items: center;
}

.SignUpStyle {
  align-items: center;
  justify-content: center;
  font-size: 10em;
  padding: 0;
}

.ButtonStyle {
  display: flex;
  align-items: center;
  margin: auto;
}

.LoginStyle {
  margin-top: 0;
  padding: 0;
}
