.NavStyle {
  margin: auto;
  align-items: center;
  justify-content: center;
}

.otherButtons {
  margin:auto;
  align-items: center;
  justify-content: center;
  font-size: 10em;
  padding: 0;
  text-transform: none;
}

.ButtonStyle {
  display: flex;
  align-items: center;
  margin: auto;
}

.LoginStyle {
  margin-top: 0;
  padding: 0;
}
